.clients-card {
    background-color: color-mix(in srgb, var(--background-color) , black 4%);
    padding-block: 30px 60px;
  }
  .clients-card .clients img {
    padding: 1.25rem;
    width: auto;
    height: auto;
    max-height: 160px;
    aspect-ratio: 1/auto;
    margin-block: auto;
    filter: grayscale();
    transition:  0.4s;
  }
  .clients-card .clients img:hover {
    filter: none;
  }