/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
    background-color: color-mix(in srgb, var(--background-color) 90%, white 5%);
    border-bottom: 1px solid color-mix(in srgb, var(--accent-color), transparent 90%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.882), rgba(255, 255, 255, 0.877)), url('/src/assets/img/contact-bg2.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: visible;
  }
  
  .contact .info-item+.info-item {
    margin-top: 40px;
  }
  
  .contact .info-item span {
    color: var(--white);
    background: var(--heading-color);
    font-size: 36px;
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    font-weight: 600;
    opacity: .8;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .php-email-form {
    height: 100%;
    background-color: var(--background-color);
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: var(--background-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--background-color);
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 14px;
    padding: 15px;
    box-shadow: none;
    border-radius: var(--border-radius-size);
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color) , transparent 70%);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color) , transparent 70%);
  }
  
  .contact .php-email-form button[type=submit] {
    color: var(--white);
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: none;
    color: var(--default-color);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .contact .contact-img {
    width: 360px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 1;
  }

  @media (max-width: 992px) {
    .contact .contact-img { display: none;}
  }

  .contact .achievement-card {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    padding: 40px;
    border-radius: var(--border-radius-size);
    margin: 100px auto -224px auto;
    position: relative;
    z-index: 2;
  }

  .contact .achievement-card div {
    border-color: color-mix(in srgb, var(--contrast-color), transparent 50%) !important;
  }
  .contact .achievement-card  span {
    font-size: 72px;
    color: var(--white);
  }

  .contact .achievement-card h1 {
    color: var(--white);
    font-weight: 800;
    font-size: 48px;
  }

  .contact .achievement-card p {
    font-size: 14px;
  }

  @media (max-width: 576px) {
    .contact .achievement-card {
      padding: 20px;
      margin: 100px auto -224px auto;
    }
  
    .contact .achievement-card  span {
      font-size: 54px;
      color: var(--white);
    }
  
    .contact .achievement-card h1 {
      color: var(--white);
      font-weight: 800;
      font-size: 36px;
    }
  
    .contact .achievement-card p {
      font-size: 13px;
    }
  }